<!--Header-->
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Cost Living App</label>
    <ul>
        <li><a class="active" href="/products">Home</a></li>
        <li><a href="/products/monthly">Monthly Costs</a></li>
        <li><a href="/products/annual">Annual Costs</a></li>
        <li><a href="/auth/logout">LogOut</a></li>
    </ul>
</nav>