    <!--<div class="grey darken-3">-->
<!--    <div class="nav-wrapper container">-->
<!--        <a href="#!" class="brand-logo center">Cost Living App</a>-->
<!--        <a href="#" data-target="demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>-->
<!--        <ul class="sidenav" id="demo">-->
<!--            <li><a href="/records"> Records</a></li>-->
<!--            <li><a href="/records1"> Records1</a></li>-->
<!--            <li><a href="/auth/logout"> Logout</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Cost Living App</label>
    <ul>
        <li><a class="active" href="/products">Home</a></li>
        <li><a href="/products/monthly">Monthly Costs</a></li>
        <li><a href="/products/annual">Annual Costs</a></li>
        <li><a href="/auth/logout">LogOut</a></li>
    </ul>
</nav>