<div class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">Cost Living App</a>
        <a href="#" data-target="demo" class="sidenav-trigger show-on-larg"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="demo">
            <li><a href="/records"> Records</a></li>
            <li><a href="/records1"> Records1</a></li>
            <li><a href="/auth/logout"> Logout</a></li>
        </ul>
    </div>
</div>