<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel ="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src='https://kit.fontawesome.com/fc38f96ac0.js' crossorigin='anonymous'></script>
    <title>Cost Living App</title>
</head>
<body>
{{> _header}}
{{> _add_btn}}
<div class="container">
    {{{body}}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    M.Sidenav.init(document.querySelector('.sidenav'))
    M.FormSelect.init(document.querySelector('#category'))
</script>
<script>
    function getAnnualReport() {
        var x = document.getElementById("mySelect").value;
        var Url = window.location.href.replace("annual","report/")+x;
        const otherParam={
            header:{"Content-Type":"application/json"},
            method:"GET"
        };
        fetch(Url, otherParam)
                .then(data=>{return data.json()})
                .then(res=>{
                    document.getElementById("demo").innerHTML ="";
                    document.getElementById("demo").innerHTML = "You selected: " + x+ "<br />";
                    res.report.forEach((element, index, array) => {
                        document.getElementById("demo").innerHTML +=(element._id+" : "+element.sum_val+ "<br />");
                    });
                }).catch(error=>console.log(error));
        document.getElementById("demo").innerHTML = "You selected: " + x;
    }
</script>

<script>
    function getMonthlyReport() {
        var x = document.getElementById("mySelect").value;
        var Url = window.location.href.replace("monthly","report/")+x.split("-")[1]+"/"+x.split("-")[0];
        const otherParam={
            header:{"Content-Type":"application/json"},
            method:"GET"
        };
        fetch(Url, otherParam)
                .then(data=>{return data.json()})
                .then(res=>{
                    document.getElementById("demo").innerHTML ="";
                    document.getElementById("demo").innerHTML = "You selected: " + x+ "<br />";
                    res.report.forEach((element, index, array) => {
                        document.getElementById("demo").innerHTML +=(element._id+" : "+element.sum_val+ "<br />");
                    });
                }).catch(error=>console.log(error));
    }
</script>
</body>
</html>