<h3><i class="fa-solid fa-messages-dollar"></i> Cost Living app</h3>
<form action="/auth/login" method="post">
    <h1>Login to your account</h1>
    <div class="inputs">
        <input type="text" name="email" class="username" maxlength="100" minlength="3" placeholder="email"
               required> <br>
        <input type="password" name="password" class="password" maxlength="32" placeholder="password"
               required> <br>
    </div>
    <div class="buttons">
        <button type="submit">Login</button>
    </div>
    <div class="links">
        <a href="/registration" class="createAccount">Create an account.</a>
    </div>