<h3><i class="fa-solid fa-messages-dollar"></i> Cost Living app</h3>
<form action="/signin" method="post">
    <div class="inputs">
        <div class="col-md-12 row mb-3 ml-1 mr-4">
        <label for="name" class="col-md-4 col-form-label">Name<span class="field-required">*</span> </label>
        <input type="text" name="name" class="form-control col-md-8" id="name"  required>
    </div>
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="email" class="col-md-4 col-form-label">Email<span class="field-required">*</span> </label>
            <input type="text" name="email" class="form-control col-md-8" id="email" required>
        </div>
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="password" class="col-md-4 col-form-label">Password<span class="field-required">*</span> </label>
            <input type="password" name="password" class="form-control col-md-8" id="password" required>
        </div>
    </div>
    <div class="buttons">
        <button type="submit">Sign in</button>
    </div>
    <div class="links">
        <a href="/" class="createAccount">Log in.</a>
    </div>
</form>