<h3><i class="fa-solid fa-messages-dollar"></i> Cost Living app</h3>
<div class="row">
<form action="/signin" method="post" class="col s12">
    <div class="inputs">
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="first_name" class="col-md-4 col-form-label">First Name<span class="field-required">*</span> </label>
            <input type="text" name="first_name" class="form-control col-md-8" id="name"  required>
        </div>
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="last_name" class="col-md-4 col-form-label">Last Name<span class="field-required">*</span> </label>
            <input type="text" name="last_name" class="form-control col-md-8" id="name"  required>
        </div>
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <div class="input-field">
                <select id="marital_status" name="marital_status">
                    <option value="single" selected>single</option>
                    <option value="married">married</option>
                    <option value="widowed">widowed</option>
                    <option value="divorced">divorced</option>
                </select>
                <label for="marital_status">Marital Status</label>
            </div>
        </div>
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="birthday" class="col-md-4 col-form-label">Birthday<span class="field-required">*</span></label>
            <input type="date" name="birthday" class="form-control col-md-8 form-date" id="birthday"
                   required>
        </div>
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="email" class="col-md-4 col-form-label">Email<span class="field-required">*</span> </label>
            <input type="text" name="email" class="form-control col-md-8" id="email" required>
        </div>
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="password" class="col-md-4 col-form-label">Password<span class="field-required">*</span> </label>
            <input type="password" name="password" class="form-control col-md-8" id="password" required>
        </div>
    </div>
    <div class="buttons">
        <button type="submit" class="button-15">Sign in</button>
    </div>
    <div class="links">
        <a href="/login" class="createAccount">Log in.</a>
    </div>
</form>
</div>