<h1>Annual expenses</h1>

{{#if years}}
    <div class="row">
            {{!-- Date --}}
            <div class="col-sm-6 mb-3">
                <select class="custom-select ml-2" id="mySelect" name="reportYear" onchange="getAnnualReport()">
                    {{#select reportYear}}
                        <option value=""  selected="selected">Select Year for report</option>
                        {{#each years}}
                                <option value="{{ year }}" >{{ year }}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
    </div>
    <p id="demo"></p>
{{/if}}