<h3>Edit Product</h3>
<div class="row">
    <form action="/products/{{product._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        {{!-- Name --}}
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="name" class="col-md-4 col-form-label">Name<span class="field-required">*</span> </label>
            <input type="text" name="name" class="form-control col-md-8" id="name" value="{{ product.name }}" required
                   maxlength="15">
        </div>
        <div class="row">
            <div class="input-field">
                <select id="category" name="category">
                    {{#select product.category}}
                        <option value="Home" selected>Home</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Food">Food</option>
                        <option value="Health">Health</option>
                        <option value="Sport">Sport</option>
                        <option value="private">Private</option>
                        <option value="Education">Education</option>
                    {{/select}}
                </select>
                <label for="category">Category</label>
            </div>
        </div>

        {{!-- Amount --}}
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="price" class="col-md-4 col-form-label">Amount<span class="field-required">*</span></label>
            <input type="number" name="price" class="form-control col-md-8" id="amount" value="{{ product.price }}"
                   required min="1" max="999999">
        </div>
        <div class="col-md-12 row mb-3 ml-1 mr-4">
            <label for="date" class="col-md-4 col-form-label">Date<span class="field-required">*</span></label>
            <input type="date" name="date" class="form-control col-md-8 form-date" id="date" value="{{ product.date }}"
                   required>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/records" class="btn orange">Cancel</a>
        </div>
    </form>
</div>