<h1>monthly expenses</h1>

{{#if months}}
    <div class="row">
        {{!-- Date --}}
        <div class="col-sm-6 mb-3">
            <select class="custom-select ml-2" id="mySelect" name="reportYear" onchange="getMonthlyReport()">
                {{#select reportYear}}
                    <option value=""  selected="selected">Select Year for report</option>
                    {{#each months}}
                        <option value="{{ date }}" >{{ date }}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    <p id="demo"></p>

{{/if}}